a {
  color: black;
}
code {
  color: red;
  background-color: lightgray;
  border: 1px solid brown;
  display: inline-block;
}
.highlight,pre {
  color: green;
  background-color: lightgray;
  display: block;
  position: relative;
  max-width: 100%;
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 0;
}
pre code {
  border: 0;
  background-color: transparent;
}
span.pl-pds { color: red; }
span.pl-s   { color: darkgreen; }
span.pl-c   { color: gray; }
span.pl-k   { color: black; }
span.pl-smi { color: blue; }
