a {
  color: black;
}
code {
  color: red;
  background-color: lightgray;
  border: 1px solid brown;
  display: inline-block;
}
.highlight,pre {
  color: green;
  background-color: lightgray;
  border: 3px solid black;
  display: block;
  position: relative;
  max-width: 100%;
  width: 100%;
}
.pl-pds { color: red; }
.pl-s   { color: orange; }
.pl-c   { color: gray; }
.pl-k   { color: black; }
.pl-smi { color: blue; }
