a {
  color: black;
}
code {
  color: red;
  background-color: lightgray;
  border: 1px solid brown;
  display: inline-block;
}
.highlight {
  color: green;
  background-color: lightgray;
  border: 3px solid black;
  display: block;
  max-width: 100%;
  width: 100%;
}
